<!-- wrapper starts -->
<div class="wrapper">
  <!-- Navbar  starts -->
  <!-- <nav class="navbar">
      <input type="checkbox" id="check" class="check" />
      <div class="hamburger-menu">
          <label for="check" class="menu">
              <div class="menu-line menu-line--1"></div>
              <div class="menu-line menu-line--2"></div>
              <div class="menu-line menu-line--3"></div>
          </label>
      </div>
  </nav> -->
  <!-- ./ Navbar -->
  <div class="sub_navigation">
      <ul class="nav-list">
          <li class="nav-list-item">
              <a href="#" key="home" class="nav-list-link">Trang chủ</a>
          </li>
          <li class="nav-list-item">
              <a href="#gioithieu" key="introduce" class="nav-list-link">Giới thiệu</a>
          </li>
          <li class="nav-list-item">
              <a href="#" key="livestream" class="nav-list-link">Livestream</a>
          </li>
          <li class="nav-list-item">
              <a href="#" key="Price list" class="nav-list-link">Bảng giá</a>
          </li>
          <li class="nav-list-item">
              <a href="#tintuc" key="News" class="nav-list-link">Tin tức</a>
          </li>
          <li class="nav-list-item">
              <a href="#doitac" key="Partner" class="nav-list-link">Đối tác</a>
          </li>
          <li class="nav-list-item">
              <a href="https://connect.anicon.asia" key="Login" class="nav-list-link">
                  Đăng nhập</a>
          </li>
      </ul>
  </div>
  <!-- ./ navbar-navigation  -->
</div>
<!-- header starts -->
<header class="header">
  <div class="container">
      <!-- header__top starts -->
      <div class="header__top">
          <!-- header__top__left starts -->
          <div class="header__top__left">
              <div class="logo">
                  <!-- <img src="images/logo.png" alt="Anicon"> -->
                  <img src="../../../assets/image/logo-01 1.png" alt="">
              </div>

              <div class="submenu-item-horizontal">
                  <a href="#" class="language">Tiếng Việt</a>
                  <!-- <ion-icon name="caret-down-outline"></ion-icon> -->
                  <div class="change__language">
                      <ul>
                          <li><a class="translate" href="#" language="vietnamese">Tiếng Việt</a></li>
                          <li><a class="translate" href="#" language="japanese">Japanese</a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <!-- ./ header__top__left  -->
          <!-- header__top__right starts -->
          <div class="header__top__right">
              <nav class="nav">
                  <ul class="nav__list">
                      <li class="nav__item"><a href="#" key="home" class="nav__link">Trang chủ</a></li>
                      <li class="nav__item"><a href="#gioithieu" key="introduce" class="nav__link">Giới thiệu</a>
                      </li>
                      <li class="nav__item"><a href="#" key="livestream" class="nav__link">Livestream</a></li>
                      <li class="nav__item"><a href="#" key="Price list" class="nav__link">Bảng giá</a></li>
                      <li class="nav__item"><a href="#tintuc" key="News" class="nav__link">Tin tức</a></li>
                      <li class="nav__item"><a href="#doitac" key="Partner" class="nav__link">Đối Tác</a></li>
                      <li class="nav__item"><a href="https://connect.anicon.asia" key="Login"
                              class="nav__link">Đăng nhập</a>
                      </li>
                  </ul>
              </nav>
          </div>
          <!-- ./ header__top__right starts -->
      </div>
      <!-- ./ header__top  -->
  </div>
