<div class="container">
  <div class="content pt-lg-5 ">
    <h2>Dự án</h2>
    <p class="fs-3 pt-4 pb-2">Khám phá tư duy thiết kế và triết lý sáng tạo được chúng tôi gửi gắm trong từng dự án</p>
    <div class="row pb-3 pt-3 pb-xl-5 content1">
      <div class=" col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 fs-3 pb-xl-5" *ngFor="let cate of categories">
        <a routerLinkActive="active" [routerLink]="['/detail',cate.Id]" class="p-5">
          <img class="pb-5" src="{{cate.ImgNames[0].url}}" alt="">
        </a><br>
        <b >{{cate.Name}}</b>
        <!-- <p >{{cate.Description}}</p> -->
        <br>
        <p> {{cate.ProjectType}}</p>
      </div>
    </div>
    <div class="row taithem">
      <div class="col"><button type="button" class="btn btn-secondary fs-2">Tải thêm</button></div>
    </div>
  </div>
</div>
