<div class="container">
  <div class="content " *ngIf="category != null">
    <h3>{{category.Name}}</h3>
    <!-- <p>{{category.content}}</p> -->
    <!-- <img src="{{category.image}}" alt=""> -->

    <p>{{category.Description}}</p>
    <div class="row pb-lg-5 " >
      <div *ngFor="let catex of category.ImgNames" class="">
        <div>
          <b>{{catex.Name}}</b>

          <iframe *ngIf="safeUrl"
                  class="video"
                  [src]="safeUrl"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen>
          </iframe>
          <!-- <iframe width="560" height="315" [src]="safeUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div>{{getLink()}}</div> -->
          <br>
          <p>{{category.Description}}</p>
          <div class="col-6">
            <img class="w-75" src="{{catex.url}}" alt="">
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
