 <!-- footer middle starts -->
 <div class="footer__middle">
  <div class="container">
      <div class="footer__middle__top">
          <!-- footer__middle__item starts -->
          <div class="footer__middle__item">
              <div class="footer__middle__top__icon">
                  <img src="../../../assets/image/Vector (1).png" alt="">
                  <!-- <ion-icon name="checkmark-circle-outline"></ion-icon> -->
              </div>
              <div class="footer__middle__top__text">
                  <p id='footer_middle_title1' key='footer_middle_title1'>Chương trình OCOP</p>
              </div>
          </div>
          <!-- footer__middle__item starts -->
          <!-- footer__middle__item starts -->
          <div class="footer__middle__item">
              <div class="footer__middle__top__icon">
                <img src="../../../assets/image/Union3.png" alt="">
                  <!-- <ion-icon name="football-outline"></ion-icon> -->
              </div>
              <div class="footer__middle__top__text">
                  <p id='footer_middle_title2' key='footer_middle_title2'>Giấy chứng nhận</p>
              </div>
          </div>
          <!-- footer__middle__item starts -->
          <!-- footer__middle__item starts -->
          <div class="footer__middle__item">
              <div class="footer__middle__top__icon">
                <img src="../../../assets/image/Union.png" alt="">

                  <!-- <ion-icon name="funnel-outline"></ion-icon> -->
              </div>
              <div class="footer__middle__top__text">
                  <p id='footer_middle_title3' key='footer_middle_title3'>Xếp hạng Anicon</p>
              </div>
          </div>
          <!-- footer__middle__item starts -->
      </div>

      <!-- footer__middle__bottom starts -->
      <div class="footer__middle__bottom">
          <!-- footer__middle__bottom_left start -->
          <div class="footer__middle__bottom_left">
              <div class="footer__middle__bottom__item">
                  <h6 id='footer_middle_bottom_item1' key='footer_middle_bottom_item1'>THÔNG TIN ANICON</h6>
                  <div class="footer__middle__bottom__article">
                      <p id='footer_middle_bottom_article11' key='footer_middle_bottom_article11'>Tầm nhìn &
                          Sứ mệnh</p>
                      <p id='footer_middle_bottom_article12' key='footer_middle_bottom_article12'>Tuyển dụng
                      </p>
                      <p id='footer_middle_bottom_article13' key='footer_middle_bottom_article13'>Điều khoản
                          tài khoản </p>
                      <p id='footer_middle_bottom_article14' key='footer_middle_bottom_article14'>Điều kiện
                          nâng hạng</p>
                  </div>
              </div>
              <div class="footer__middle__bottom__item">
                  <h6 id='footer_middle_bottom_item2' key='footer_middle_bottom_item2'>THẮC MẮC</h6>
                  <div class="footer__middle__bottom__article">
                      <p id='footer_middle_bottom_article21' key='footer_middle_bottom_article21'>Thanh toán
                      </p>
                      <p id='footer_middle_bottom_article22' key='footer_middle_bottom_article22'>Marketing
                      </p>
                      <p id='footer_middle_bottom_article23' key='footer_middle_bottom_article23'>Vận chuyển
                      </p>
                      <p id='footer_middle_bottom_article24' key='footer_middle_bottom_article24'>Extension
                          Store </p>
                      <p id='footer_middle_bottom_article25' key='footer_middle_bottom_article25'>eCommerce
                          blog</p>
                      <p id='footer_middle_bottom_article26' key='footer_middle_bottom_article26'>Ideas board
                      </p>
                      <p id='footer_middle_bottom_article27' key='footer_middle_bottom_article27'>Mobile App
                      </p>
                      <p id='footer_middle_bottom_article28' key='footer_middle_bottom_article28'>Community
                      </p>
                      <p id='footer_middle_bottom_article29' key='footer_middle_bottom_article29'>Email
                          Newsletter</p>
                  </div>
              </div>
              <div class="footer__middle__bottom__item">
                  <h6 id='footer_middle_bottom_item3' key='footer_middle_bottom_item3'>CÁC ĐỐI TÁC</h6>
                  <div class="footer__middle__bottom__article">
                      <p>Annhan.asia</p>
                      <p>Adgame.asia</p>
                  </div>

              </div>
              <div class="footer__middle__bottom__item">
                  <h6 id='footer_middle_bottom_item4' key='footer_middle_bottom_item4'>Support</h6>
                  <div class="footer__middle__bottom__article">
                      <p id='footer_middle_bottom_article31' key='footer_middle_bottom_article31'>Kết nối nông
                          trại</p>
                      <p id='footer_middle_bottom_article32' key='footer_middle_bottom_article32'>Kết nối đơn
                          vị thu mua</p>
                      <p id='footer_middle_bottom_article33' key='footer_middle_bottom_article33'>Kết nối nhà
                          sản xuất vật tư</p>
                      <p id='footer_middle_bottom_article34' key='footer_middle_bottom_article34'>Thiết kế bao
                          bì</p>
                      <p id='footer_middle_bottom_article35' key='footer_middle_bottom_article35'>Tư vấn
                          thương hiệu online</p>
                      <p id='footer_middle_bottom_article36' key='footer_middle_bottom_article36'>Chạy chiến
                          dịch marketing</p>
                      <p id='footer_middle_bottom_article37' key='footer_middle_bottom_article37'>Đào tạo và
                          cung cấp</p>
                      <p id='footer_middle_bottom_article38' key='footer_middle_bottom_article38'>Livestream
                      </p>
                  </div>

              </div>
          </div>
          <!-- ./ footer__middle__bottom_left  -->

          <!-- footer__middle__bottom__right  starts -->
          <div class="footer__middle__bottom__right">
              <div class="footer__middle__bottom__item">
                  <h6>We recommend</h6>
                  <div class="footer__middle__bottom__social">
                      <div class="icon__social">
                          <!-- <ion-icon name="logo-twitter"></ion-icon> -->
                          <img src="../../../assets/image/1.png" alt="">
                      </div>
                      <div class="icon__social">
                          <a href="https://www.facebook.com/NenTangKetNoiAnicon" target="blank"
                              style="color: white;">
                              <!-- <ion-icon name="logo-facebook"></ion-icon> -->
                          <img src="../../../assets/image/2.png" alt="">
                          </a>
                      </div>
                      <div class="icon__social">
                          <!-- <ion-icon name="wifi-outline"></ion-icon> -->
                          <img src="../../../assets/image/3.png" alt="">

                      </div>
                      <div class="icon__social">
                          <!-- <ion-icon name="logo-instagram"></ion-icon> -->
                          <img src="../../../assets/image/4.png" alt="">

                      </div>
                  </div>

              </div>
          </div>
          <!-- ./ footer__middle__bottom__right  -->
      </div>

      <!-- ./ footer__middle__bottom  -->
  </div>
</div>
<!-- ./ footer middle  -->


<!-- .footer bottom starts -->
<div class="footer__bottom">
  <div class="footer__bottom__item">
      <div class="footer__bottom__logo">
        <img src="../../../assets/image/logo-01 1.png" alt="">

          <!-- <img src="images/logo-01.png" alt="" /> -->
      </div>
      <div class="footer__bottom__coppyRight">
          COPYRIGHT ANICON 2020 - TERMS & CONDITIONS PRIVACY POLICY
      </div>
  </div>
</div>

<!-- ./ footer bottom -->
